.column {
  width: 260px;
  max-width: 260px;
  min-width: 260px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  position: relative;
}

.column-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  height: 46px;

  min-height: 46px;
  max-height: 46px;

  background-color: #ffffff;
  color: #97a3b0;

  //

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-right {
  }

  .header-button {
    cursor: pointer;
  }
}

.button-column-add-task {
  height: 46px;

  min-height: 46px;
  max-height: 46px;

  background-color: #ffffff;
  color: #97a3b0;

  padding: 12px;

  cursor: pointer;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button-column-move {
  cursor: grab;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container-quick-menu {
  position: absolute;
  right: 10%;
  top: 5%;
  z-index: 10;
  width: 200px;
}

.column {
  padding-right: 5px;
  .list {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;

    margin-right: -5px;
    padding-right: 5px;

    /* Гарантируем, что контент не будет обрезан по горизонтали */
    width: auto;
    min-width: 0;

    /* Позволяем контенту переноситься */
    word-wrap: break-word;
    overflow-wrap: break-word;

    /* Стилизация всего скроллбара */
    &::-webkit-scrollbar {
      width: 3px; /* ширина вертикального скроллбара */
      height: 3px; /* высота горизонтального скроллбара */

      right: 5px;
    }

    /* Дорожка скроллбара */
    &::-webkit-scrollbar-track {
      background: #dbdee6;
      border-radius: 10px;
    }

    /* Ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background: #b8bccd;
      border-radius: 10px;
      border: 2px solid #b8bccd;
    }

    /* Ползунок при наведении */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* Кнопки скроллбара (стрелки) */
    &::-webkit-scrollbar-button {
      display: none; /* скрыть кнопки */
    }
  }
}
